.swiper {
    width: 100% !important
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    
  }
  
  .swiper-slide img {
   
    width: 100% !important;
    height: 600px;
    object-fit: cover;
    
  }
  
  .custom-btn{
    clip-path: polygon(24% 0, 100% 0%, 80% 100%, 0% 100%);
    
background: linear-gradient(80deg, rgba(136,180,247,1) 0%, rgba(86,144,231,1) 100%);

  }