@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background: transparent;
    color: black;
  }

  .thumbs-wrapper{
    text-align: center;
  }

  .join-team{
    clip-path: polygon(89% 0, 100% 0%, 100% 100%, 20% 100%);
  }